.nav-header{
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  height: 80px;
  background-color: #FF3366;
  padding: 0 5px;
  align-items: center;
  font-weight: bold;
}
button:focus,button:active,button:visited{
  outline: none;
}
btn:active:focus, .btn:focus {
  outline: none;
}
.my-wrap{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
@media (min-width: 760px){
  .my-wrap{
    flex-direction: row;
  }
}
.leftNav-wrap{
  width: 260px;
  background-color: #FF3366;
  text-align: center;
  color: #fff;
}
.leftNav-wrap h3{
  border-bottom: 2px solid #455A64;
  margin: 0;
  padding: 20px 0;
}
.leftNav-wrap a{
  display: block;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.leftNav-wrap a:hover{
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-header h3{
  margin: 0;
  color: #fff;
}
.nav-header button{
  height: 36px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 6px;
}
.main{
  flex-grow: 1;
  overflow-y: scroll;
  display: flex;
}
.nav-footer{
  display: flex;
  /*justify-content: space-around;*/
  align-items: center;
  height: 80px;
  flex-shrink: 0;
  background-color: #FF3366;
}
.nav-footer a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  border-right:1px solid rgba(0, 0, 0, 0.3);
  flex-grow: 1;
}
.nav-footer a:last-child{
  border: none;
}
.home-wrap{
  display: flex;
  flex-grow: 1;
  background-image:url(./images/1.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
.home-cover{
  background-color: rgba(0, 0, 0, 0.5);
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.home-item{
  text-align: center;
  margin: 0 auto;
  color: #fff;
}
.about-wrap{
  flex-grow: 1;
  padding: 10px;
}
.git-card{
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  text-align: center;
}
.git-card h2{
  color: #663366;
  display: block;
  margin: 0 auto;
  margin: 0;
}
.about-form{
  display: block;
  margin: 0 auto;
  width: 90%;
  max-width: 560px;
}
.show-git{
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 10px;
  justify-content: space-around;
  font-size: 16px;
  padding: 10px 0;
  color: #607D8B;
}
.blog-warp{
  flex-grow: 1;
  margin-top: 20px;
}
.blog-card{
  padding: 0 10px;
  margin-bottom: 10px;
  max-width: 600px;
  margin: 0 auto;
}
.blog-index{
  background-color: #FF3366;
  font-size: 24px;
  text-align: center;
  color: #fff;
  line-height: 40px;
}
.blog-index span{
  border-radius: 50%;
  color: #fff;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  display:inline-block;
}
.blog-content{
  box-shadow: rgba(0, 0, 0, 0.1 ) 0px 3px 10px ,rgba(0, 0, 0, 0.3) 0px 3px 10px;
  padding: 10px;
  color: #666;
}
.blog-content{
  margin: 10px 0;
}
.blog-content{
  padding: 5px 8px;
  border-radius: 5px;
}
